<!DOCTYPE html>
<html lang="en">

<head>
  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <!-- HTMX Websockets extension https://htmx.org/extensions/web-sockets/ -->
  <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="static/index.css">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Realtime Chat</title>
</head>

<body>
  <script type="text/javascript">
    const handleKeyPress = (event) => {
      if(event.keyCode === 72){
        document.dispatchEvent(new CustomEvent("key-input", {detail: {key: event.key}}))
      }
      else if(event.keyCode === 74){
        document.dispatchEvent(new CustomEvent("key-input", {detail: {key: event.key}}))
      }
      else if(event.keyCode === 75){
        document.dispatchEvent(new CustomEvent("key-input", {detail: {key: event.key}}))
      }
      else if(event.keyCode === 76){
        document.dispatchEvent(new CustomEvent("key-input", {detail: {key: event.key}}))
      }
    }

    document.addEventListener("keydown", handleKeyPress)
  </script>
  <style>
    body {
      font-family: "Oxygen Mono", monospace;
      font-weight: 400;
      font-style: normal;
    }
  </style>
  <div hx-ext="ws" ws-connect="/ws">
    <div ws-send hx-trigger="key-input from:document" hx-vals='js:{"event": "keydown", "key": event.detail.key}'>
    </div>
    <div id="canvas" hx-swap="innerHTML" hx-swap-oob="innerHTML"></div>
  </div>
</body>

</html>